<header class="header">
    <div class="header__actions"> </div>

    <%= link_to root_path do %>
        <em>Kautgram</em>
    <% end %>

    <div class="header__actions">
        <% if user_signed_in? %>
            <%= link_to  "My account", edit_user_registration_path, class: "auth" %>
            <%= link_to  "My page", user_index_path, class: "auth" %>
            <%= link_to  "Create", new_post_path, class: "create" %>
            <%= link_to  "Sing out", destroy_user_session_path, method: :delete, class: "auth" %>
        <% else %>
            <%= link_to  "Sign in", new_user_session_path, class: "auth" %>      
        <% end %>
    </div>
</header>