<div class="post-form">
    <div id="area" class="post-form__dropdown post-form__col">
      <% if @post.image.present? %>
        <%= f.label :image %>
        <%= f.file_field :image, id: 'post_image' %>
        <%= image_tag  @post.image, class: 'inserted-img' %>
        <span id="removeImg" onclick="removeImg()">Remove</span>
      <% else %>
        <%= f.label :image %>
        <%= f.file_field :image, id: 'post_image' %>
      <% end %>
    </div>

    <div class="post-form__col post-form__col--center">
        <div class="post-form__field">
            <%= f.label :title, 'Post title:' %>
            <%= f.text_field :title %>
        </div>
        
        <div class="post-form__field">
            <%= f.label :body, 'Post description:' %>
            <%= f.text_field :body %>
        </div>

        <div class="post-form__submit">
            <%= f.submit %>
        </div>
    </div>
</div>