<section class="home">
    <% @posts.each do |post| %>
        <article class="home__article">
            <%= image_tag  post.image %>
            <h3><%= post.title %></h3>
            <p><%= post.body %></p>
            <% if current_user&.id == post.user_id %>
                <%= link_to  "Update", edit_home_path(post) %>
                <%= link_to  "Delete", home_path(post), method: :delete %>
            <% end %>
        </article>
    <% end %>
</section>
