<div class="user-page">
    <div class="user-page__header">
        <div class="user-page__header__image">
            <%= image_tag @user.avatar %>
        </div>
        <div class="user-page__header__text">
            <h3><%= @user.user_name %></h3>
            <em><%= @user.nick_name %></em>
            <p><%= @user.bio %></p>

            <% unless current_user&.nick_name == params[:id] %>
                <% if current_user.followers.find_by(follow_id: params[:id]).present? %>
                    <%= link_to  "unfollow", user_follower_path(params[:id]), method: :delete %>
                <% else %>
                    <%= link_to  "follow", user_follower_index_path(params[:id]), method: :post %>
                <% end %>
            <% end %>
        </div>
        <div class="user-page__header__follower">
            <%= @user.followers_count %>
        </div>
    </div>

    <div class="user-page__list">
        <% @user.posts.each do |post| %>
            <%= link_to post_path(post) do %>
                <div class="user-page__item">
                    <div class="user-page__item__image">
                        <div class="user-page__item__overlay overlay"></div>
                        <%= image_tag post.image %>
                    </div>
                    <div class="user-page__item__content text">
                        <p><%= post.title %></p>
                    <div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
